@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;600;700;800;900&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primaryBackground: #212222;
    --secondaryBackground: #2f3030;
    --primaryColor: #0de0c4;
    --greyDark: #7d8792;
    --headingColor: #2d2e2e;
    --white: #fff;
    --black: #000;
    --sliver: #bac8d3;
}

body {
    /* background-color: var(--headingColor); */
    background-color: var(--black);
    font-family: "Roboto", sans-serif;
    color: #d0d6da;
}

a {
    color: var(--greyDark);
    text-decoration: none;
    transition: 0.5s;
}

a:hover {
    color: var(--primaryColor);
}

p {
    color: var(--sliver);
    font-size: 15px;
    line-height: 30px;
    margin: 20px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

.container {
    max-width: 80%;
    margin: auto;
    overflow: hidden;
}

.flexsb {
    display: flex;
    justify-content: space-between;
}

button {
    border: none;
    outline: none;
    background: none;
    font-size: 17px;
    background-color: var(--primaryColor);
    color: var(--white);
    padding: 15px 50px;
    border-radius: 50px;
    margin-top: 20px;
    cursor: pointer;
}

.fontSize {
    font-size: 20px;
}

.primaryBtn {
    background: none;
    border: 2px solid var(--primaryColor);
}


/*---------header-------------*/

.flexsbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

header {
    /* background-color: var(--headingColor); */
    /* height: 10vh; */
    /* line-height: 10vh; */
    background-color: black;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

header a {
    margin-left: 40px;
}

.toggle {
    cursor: pointer;
    color: var(--white);
    display: none;
}

@media screen and (max-width: 768px) {
    .header {
        line-height: 4vh;
        height: 10vh;
    }
    .toggle {
        border: none;
        outline: none;
        background: none;
        font-size: 15px;
        /* background-color: var(--primaryColor); */
        color: var(--white);
        /* padding: 15px 50px; */
        border-radius: 50px;
        /* margin-top: 20px; */
        cursor: pointer;
        display: block;
    }
    .flexsbar {
        padding: 15px 0px;
    }
    header .nav {
        display: none;
    }
    header a {
        width: 100%;
        display: block;
        color: var(--white);
    }
    /* .toggle {
                    display: block;
                    font-size: 25px;
                    background: none;
                } */
    .hideMenu {
        display: block;
        position: absolute;
        top: 8vh;
        line-height: 7vh;
        left: 0;
        width: 100%;
        background-color: black;
        /* background-color: var(--headingColor); */
    }
}


/*---------header-------------*/

section {
    height: 90vh;
    display: flex;
    align-items: center;
}

.flex {
    display: flex;
}


/*---------hero-------------*/

.hero {
    position: relative;
}

.hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    /* background-image: url("../public/images/home-bg.png"); */
    /* background-size: cover; */
    /* background-attachment: fixed; */
    z-index: -1;
    width: 100%;
    height: 90vh;
}

.heroContent {
    max-width: 50%;
    margin: auto;
    text-align: center;
}

.hero h1 {
    font-size: 60px;
    font-weight: 600;
    color: var(--primaryColor);
}


/*---------hero-------------*/

.heading {
    font-size: 30px;
    color: var(--primaryColor);
    font-weight: 600;
    text-align: center;
    margin-bottom: 60px;
}


/*---------about-------------*/

.about .primaryBtn {
    margin-left: 20px;
}

.about .heading {
    text-align: left;
    margin: 0;
}

.left {
    width: 40%;
}

.left-img {
    width: 70%;
    box-shadow: 15px 15px 15px -10px rgba(0, 0, 0, 0.5);
}

.right {
    width: 65%;
}

@media screen and (max-width: 768px) {
    .left-img {
        width: 100%;
        margin-bottom: 10px;
        box-shadow: 15px 15px 15px -10px rgba(0, 0, 0, 0.5);
    }
    .right button {
        border: none;
        outline: none;
        background: none;
        font-size: 15px;
        /*background-color: var(--primaryColor);
                    */
        border: 1px solid var(--primaryColor);
        color: var(--white);
        padding: 15px;
        margin: auto;
        border-radius: 10px;
        margin-top: 20px;
        cursor: pointer;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
    /* .right .primaryBtn {
                    background-color: var(--primaryColor);
                    border: 1px solid var(--primaryColor);
                    color: var(--white);
                } */
}


/*---------about-------------*/

.grid3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}


/*---------services-------------*/

.services .box {
    background-color: var(--primaryBackground);
    padding: 35px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.services i {
    color: var(--primaryColor);
}

.services h3 {
    margin-top: 20px;
}

.content.grid3 .box {
    box-shadow: 0px 0px 3px 3px rgba(211, 216, 213, 0.1);
}

.content.grid3 .box:hover {
    color: rgb(114, 241, 250);
    box-shadow: 0px 0px 16px -5px rgba(66, 150, 163, 0.7);
    transition: 0.5s;
}

.content.grid3 {
    margin: 10px;
}

.grid4 {
    grid-template-columns: repeat(4, 1fr);
    height: 50vh;
    place-items: center;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .grid3 {
        display: flex;
        align-items: center;
        flex-direction: column;
        /* width: 100%; */
    }
    .content.grid3 {
        margin: 5px;
    }
    .services .box {
        background-color: var(--primaryBackground);
        padding: 16px 10px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
    .box p {
        color: var(--sliver);
        font-size: 14px;
    }
}


/*---------counter-------------*/

.counter {
    margin-top: 80px;
    position: relative;
}

.hero.counter::after {
    background-image: url("../public/images/some-facts-bg.png");
    height: 50vh;
}

.counter h1 {
    margin: 0;
}


/*---------counter-------------*/


/*---------portfolio-------------*/

article {
    margin-top: 50px;
    margin-bottom: 80px;
}

article img {
    width: 100%;
    height: 100%;
}

article .box {
    position: relative;
    transition: 0.5s;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    transition: 0.5s;
    z-index: 2;
}

.overlay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primaryColor);
    opacity: 0;
    transition: 0.5s;
    z-index: -1;
}

article .box:hover .overlay::after,
article .box:hover .overlay {
    opacity: 1;
}

.catButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.catButton button {
    text-transform: capitalize;
    margin-right: 20px;
}

@media screen and (max-width: 768px) {
    .catButton .primaryBtn {
        color: var(--white);
        font-size: 15px;
        padding: 13px;
    }
    .catButton {
        margin: 30px 0;
    }
}


/*---------portfolio-------------*/


/*---------testimonials-------------*/

.testimonials {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.testimonials::after {
    background-image: url("../public/images/testimonials-bg.png");
}

.testimonials .box {
    max-width: 60%;
}

.testimonials i {
    background-color: var(--white);
    font-size: 20px;
    padding: 15px;
    margin: 30px 0;
    display: inline-block;
    color: var(--primaryColor);
}

.testimonials .img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    margin: auto;
    border-radius: 50%;
    border: 3px solid var(--primaryColor);
}

.testimonials img {
    width: 100px;
    height: 100px;
    background-size: cover;
    border-radius: 50%;
    object-fit: cover;
}

label {
    color: var(--primaryColor);
    margin: 10px 0;
    display: inline-block;
}


/*---------testimonials-------------*/


/*---------blog-------------*/

.blog img {
    width: 100%;
}

.blog .box {
    background-color: var(--primaryBackground);
    border-radius: 10px;
}

.blog .text {
    padding: 10px 30px;
}


/*---------blog-------------*/


/*---------contact-------------*/

.contact {
    margin: 20px 0;
}

.contact .right,
.contact .left {
    padding: 20px;
}

.contact .left {
    margin-top: 10px;
}

.contact .flex input:nth-child(1) {
    margin-right: 10px;
}

.contact button,
.contact textarea,
.contact input {
    width: 100%;
    padding: 20px;
    border: 1px solid aquamarine;
    color: #d0d6da;
    outline: none;
    background-color: transparent;
    margin: 10px 0;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    .flex {
        display: flex;
        flex-direction: column;
    }
    .contact button {
        border: none;
        outline: none;
        background: none;
        font-size: 17px;
        background-color: lightgreen;
        color: var(--white);
        padding: 15px 50px;
        border-radius: 10px;
        margin-top: 20px;
        cursor: pointer;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
    .contact .right {
        padding: 0px;
    }
    .contact .left {
        padding: 20px 0;
        margin-top: 0px;
    }
}


/*---------contact-------------*/


/*---------footer-------------*/

footer {
    text-align: center;
    background-color: var(--primaryBackground);
    padding: 70px;
    margin-top: 50px;
}

footer i {
    margin: 5px;
    color: var(--primaryColor);
}


/*---------footer-------------*/

@media screen and (max-width: 768px) {
    .hero {
        height: 60vh;
    }
    .container {
        max-width: 88%;
    }
    .heroContent {
        max-width: 88%;
    }
    .hero h1 {
        font-size: 25px;
    }
    .hero::after {
        /* background-image: url("../public/images/home-bg.png"); */
        /* background-size: cover; */
        /* object-fit: cover; */
        width: 100%;
        height: 80vh;
    }
    section {
        height: auto;
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .contact .flexsb,
    .about .flex {
        flex-direction: column;
    }
    .right,
    .left {
        width: 100%;
    }
    .grid4,
    .grid3 {
        grid-template-columns: repeat(2, 1fr);
    }
    article {
        margin: 0;
        padding-bottom: 50px;
    }
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    /* background-color: #0c0513; */
    background-color: black;
    background-image: url(./components/data/pre.svg);
    background-repeat: no-repeat;
    background-position: center;
}

#preloader-none {
    opacity: 0;
}